/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #301919;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 3px #301919;
}
header a {
    text-decoration: none;
    background-color: white;
}
h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #301919;
}

/*Main*/
main {
    background-color: burlywood;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: grey;
}