/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap')

/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #301919;
    font-family: 'Lato', sans-serif;
}
/*Header*/
header {
    background-color: red;
}

/*Main*/
main {
    background-color: burlywood;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: grey;
}