/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #301919;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #ebebeb;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 3px #301919;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    z-index: 1;
}

header a {
    text-decoration: none;
    background-color: #ebebeb;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #301919;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    color: #301919;
    font-weight: bold;
}

/*Navbar styles*/

nav {
    position: absolute;
    background-color: #ebebeb;
    width: 100%;
    padding: 2px 0;
    left: 0;
    box-shadow: 0 3px 3px #301919;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#toggle:checked~nav {
    display: block;
}

#toggle {
    display: none;
}

/*Main*/
main {
    flex: 1 0 auto;
    margin-top: 50px;
    background-color: #ebebeb;
}

/*Hero image and text*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hero_small.jpg") no-repeat center center/cover;
    display: flex;

}

#description {
    font-size: 110%;
    font-weight: bold;
    width: 80%;
    position: relative;
    text-align: center;
    top: 35%;
    left: 10%;
    color: #ebebeb;
    opacity: .8;
    font-family: 'Poppins', sans-serif;

}

/*Who we are section*/
#introduction {
    text-align: center;
    font-weight: 500;
    font-size: 100%;
    background-color: #ebebeb;
    padding: 10px 20px;
}

#introduction h2 {
    font-weight: bolder;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

#introduction a {
    color: #301919;
}

/*Events section*/
#events {
    text-align: center;
    background-color: #ebebeb;
    box-shadow: 0 3px 3px #301919;
}

#events h2 {
    font-weight: bold;
    font-size: 150%;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

#upcoming-events {
    background: url(../images/interior/art.webp) no-repeat center center/cover;
    height: min-content;
    text-align: left;
    flex-wrap: wrap;
    font-weight: bold;
}

#upcoming-events div {
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    padding: 20px;
    color: rgb(235, 235, 235);
    border: 3px solid #ebebeb;
    flex-basis: 200px;
    flex-grow: 1;
}

/*Events page*/

#event-photos img {
    width: 100%;
    line-height: 1em;
}

#place-photos img {
    width: 100%;
}

#events-gallery {
    background-color: #ebebeb;
}

#events-gallery h2 {
    text-align: center;
    padding: 5px 10px;
}

#events-gallery p {
    text-align: center;
}

/*Enquire page*/

/*Reach out secion styles*/
#form-image {
    background: url(../images/enquire-photo.webp) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-position: 75%;
    padding: 10px 5% 0 5%;
}

#form {
    position: relative;
    padding: 0 10px;
    color: #ebebeb;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    max-height: 800px;
    display: flex;
}

#reach-out h2 {
    text-align: center;
}

.full-name {
    color: #ebebeb;
    background: transparent;
    font-size: 15px;
    border: 2px solid;
    width: 100%;
}

label[for=full-name] {
    font-size: 20px;
    font-weight: bold;
}

.email-address {
    color: #ebebeb;
    background: transparent;
    font-size: 15px;
    border: 2px solid;
    width: 100%;
}

label[for=email-address] {
    font-size: 20px;
    font-weight: bold;
}

#ask-us {
    color: #ebebeb;
    background: transparent;
    font-size: 15px;
    border: 2px solid;
    width: 100%;
}

label[for=ask-us] {
    font-size: 20px;
    font-weight: bold;
}

.submit-button {
    font-size: 20px;
    padding: 5px 10px;
    justify-content: center;
    border: 2px solid;
    color: #ebebeb;
    position: relative;
    background-color: transparent;
}

.thank-you {
    text-decoration: none;
    color: #ebebeb;
}

/*Thank you page*/
#thankyou {
    text-align: center;
    padding: 100px 0 20px;
    background-color: #ebebeb;
    font-size: 150%;
}

/*Footer*/
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #ebebeb;
}

#social-media i {
    color: black;
    font-size: 120%;
}

/*Media queries*/

/*Tablets and up*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 3rem;
    }

    .toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 80px;
    }

    main {
        margin-top: 81px;
    }

    #description {
        font-size: 170%;
        top: 30%;
    }

    #introduction p {
        font-size: 120%;

    }

    /*Events page*/
    #event-photos,
    #place-photos {
        column-count: 2;
        column-gap: 2px;
    }
}

/*Laptops and above*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: #690202;
        border-bottom: groove;
    }

    #hero {
        background-image: url(../images/hero.jpg);
        position: relative;
    }

    .hero {
        background-size: initial;
    }

    #description {
        font-size: 230%;
        top: 10%;
        color: #ebebeb;
        opacity: unset;
        align-items: center;
        top: 20%;
    }

    #description h2 {
        background-color: rgba(227, 78, 48, 0.6);
        border-radius: 10px;
        position: absolute;
    }

    #introduction {
        padding: 0 30px;

    }

    #introduction p {
        font-size: 120%;
        width: 80%;
        padding-left: 20%;
    }

    /*Events page*/
    #event-photos,
    #place-photos {
        column-count: 3;
        column-gap: 2px;
    }

}